**시계열 데이터**
- 행과 행에 시간의 순서가 있고 행과 행의 시간 간격이 동일한 데이터

**날짜**
- pd.to_datetime(날짜데이터, format = '입력되는 날짜 형식')

In [ ]:
# datetime type으로 변형
data['Date'] = pd.to_datetime(data['Date'])

In [ ]:
# format = '%d/%m/%Y' 입력되는 날짜 형태를 알려준다
pd.to_datetime(date, format = '%d/%m/%Y')

**날짜 요소**

In [ ]:
# 연도
date.dt.year
# 월
date.dt.month
# 일
date.dt.day
# 요일
date.dt.weekday #(0 - 월, 1 - 화)
# 요일 이름
date.dt.day_name()
# 분기
date.dt.quarter
# 년, 주, 일 계산
data.dt.isocalendar().week # 주 계산

**shift**
- 시계열 데이터에서 시간의 흐름 전 후로 정보를 이동시킬 때 사용

In [10]:
import pandas as pd
import numpy as np

In [17]:
data = pd.DataFrame({'a' : [1, 3, 5, 7, 9]})

In [23]:
# a열에 있는 이전 행의 값을 추가
data['a1'] = data['a'].shift() # default = 1

# a열에 있는 전전행의 값을 추가
data['a2'] = data['a'].shift(2)

# a열에 있는 다음행의 값을 추가
data['a3'] = data['a'].shift(-1)

In [24]:
data.head()

   a   a1   a2   a3
0  1  NaN  NaN  3.0
1  3  1.0  NaN  5.0
2  5  3.0  1.0  7.0
3  7  5.0  3.0  9.0
4  9  7.0  5.0  NaN

**rolling().집계함수**
- 시간의 흐름에 따라 일정 기간 동안 평균을 이동하면서 구하기
- rolling(n) : n 기본값은 1, min_periods : 최소 데이터 수

In [29]:
# 3개 데이터의 평균
data['a1'] = data['a'].rolling(3).mean()

# 3개 데이터 중 최댓값
data['a2'] = data['a'].rolling(3).max()

# 3개 데이터의 평균인데 값이 1개만 있어도 평균 출력
data['a3'] = data['a'].rolling(3, min_periods = 1).mean()

In [30]:
data.head()

   a   a1   a2   a3
0  1  NaN  NaN  1.0
1  3  NaN  NaN  2.0
2  5  3.0  5.0  3.0
3  7  5.0  7.0  5.0
4  9  7.0  9.0  7.0

**diff**
- 특정 시점 데이터, 이전 시점 데이터와의 차이 구하기

In [34]:
# a열 한 행마다 차이 구하기
data['a1'] = data['a'].diff()

# a열 두 행마다 차이 구하기
data['a2'] = data['a'].diff(2)

# a열 세 행마다 차이 구하기
data['a3'] = data['a'].diff(3)

In [35]:
data.head()

   a   a1   a2   a3
0  1  NaN  NaN  NaN
1  3  2.0  NaN  NaN
2  5  2.0  4.0  NaN
3  7  2.0  4.0  6.0
4  9  2.0  4.0  6.0